<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Blueprint: A basic responsive product grid layout with comparison functionality" />
        <meta name="keywords" content="blueprint, template, html, css, javascript, grid, layout, effect, product comparison" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/product/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/product/component.css" />
        <!-- Modernizr is used for flexbox fallback -->
        <script src="/js/product/modernizr.custom.js"></script>


        <title>Delivery Boy Homepage</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />
        <script src="/js/modernizr-custom.js"></script>
    </head>
    <body>
        <div class="view">
            <header class="bp-header cf">
				<span>E-Pharmacy <span class="bp-icon bp-icon-about" data-content="Developer Team: Abdul Hanan | sufiyan Shams | Ibrar ul Haq."></span></span>
				<h1>Delivery Boy's Orders</h1>
				<nav>
					<a href="/deliveryboy/login" class="bp-icon bp-icon-prev" data-info="Back"><span>Back</span></a>
				</nav>
            </header>
            <section class="grid">
                <% for (var i = 0; i < orders.length; i++) { %>
                    <div class="product">
                        <div class="timeline-time">
                            <span>
                                OrderID: <%= orders[i].oid %>
                            </span> <br>
                            <span class="cname">
                                Customer: <%= orders[i].username %>
                            </span> <br>
                            <span class="dname">
                                Delivery Boy: <%= orders[i].deliveryboy %>
                            </span> <br>
                            <div class="products">
                                <ul>
                                    <% for (var j = 1 ; j < orders[i].product.length; j++) { %>
                                            <li>
                                                <div>
                                                    <span>
                                                        ProductID: <%=orders[i].product[j].pid %>
                                                    </span> <br>
                                                    <span>
                                                        Quantity: <%=orders[i].product[j].quantity %>
                                                    </span> <br>
                                                </div>
                                            </li>
                                    <% } %>
                                </ul>
                            </div>
                            <span class="status">
                                Status: <%= orders[i].status %>
                            </span> <br>
                            <span class="address">
                                Address: <%= orders[i].address %>
                            </span> <br>
                            <span class="zipcode">
                                Zipcode: <%= orders[i].zipcode %>
                            </span> <br>
                            <span class="contact">
                                Contact: <%= orders[i].contact %>
                            </span> <br>
                            <span class="order">
                                Order Date: <%= orders[i].date%>
                            </span> <br>
                            <form method="POST" action="/order/updatedeliveryboy">
                                <div>
                                    <input type="hidden" name="oid" for="oid" id="oid" value='<%= orders[i].oid %>'>
                                </div>
                                <div>
                                    <input type="hidden" name="status" for="status" id="status" value="pickedup">
                                </div>
                                <div>
                                    <input type="hidden" name="deliveryboy" for="deliveryboy" id="deliveryboy" value="<%= username %>">
                                </div>
                                <div>
                                    <% if(orders[i].status == 'initiated') { %>
                                        <button class="action action--button action--buy" type="submit">Pick  Up</button>
                                    <% } else if(orders[i].status == 'cancelled') { %>
                                        <button class="action action--button action--buy disabled" type="button" disabled>Cancelled</button>
                                    <% }
                                       else { %>
                                        <button class="action action--button action--buy" type="button" disabled>Order Picked Up</button>
                                    <% } %>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    <% } %>
            </section>
        </div>
        <script src="/js/product/classie.js"></script>
		<script src="/js/product/main.js"></script>
    </body>
</html>